.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 50px;
    height: 50px;
  }
  
  .logo span {
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
  }
  
  .login {
    position: relative;
  }
  
  .login button {
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    background-color: #610094;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .login button:hover {
    transform: scale(1.1);
  }
  
  .login button i {
    margin-right: 10px;
  }
  