.App {
  font-family: Montserrat, sans-serif;
  color: white;
  background-color: black;
}

.App * {
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}
