.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.footer img {
  width: 200px;
  height: 50px;
}

.footer span {
  font-size: 14px;
}
